@import url(base.css);
*{
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}
header{
    width: 100%;
    height: 40px;
    background: #444444;
    position: relative;
}
main{
    /*width:976px;*/
    height:100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header div{
    font-size: 10px;
    color: #A8A8AA;
}
nav{
    width: 100%;
    height: 44px;
    background: #333333;
}
nav.max .navul{
    /*width:976px;*/
    height:100%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
nav a{
    font-size: 12px;
    color:#fff;
}
/*旋转的两条行线*/
nav.mix .icons{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.mix ul .searchBox{
    width: 48px;
    height: 44px;
    cursor: pointer;
    position: relative;
    line-height: 44px;

}
.mix ul .searchBox i{
    font-size: 22px;
}
.bread-inside-top{
    display: block;
    width: 17px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 15px;
    top:18px;
    z-index: 1;
    transition: all 0.5s ease;
}
.bread-inside-bottom{
    display: block;
    width: 17px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 15px;
    bottom: 18px;
    z-index: 1;
    transition: all 0.5s ease;
}
.bread-inside-top.rotate{
    transform: rotate(-45deg);
}
.bread-inside-bottom.rotate{
    transform: rotate(45deg);
    bottom: 25px;
}
.mix-hidden{
    width: 100%;
    height: auto;
    background: black;
}
.mix-search{
    position: absolute;
    z-index: 99;
    top: 84px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 53px;
    padding: 0 10px 0 10px;
    background: black;
    box-sizing: border-box;
    border-bottom: 1px solid #282828;

}
.search-inside{
    width: 100%;
    height: 36px;
    border-radius: 5px;

}
.search-inside-left{
    width: 80%;
    height: 100%;
    float: left;
}
.search-inside-left i{
    display:inline-block;
    width: 10%;
    height: 36px;
    font-size: 18px;
    color: #999999;
    line-height: 36px;
    text-align: center;
    background: #282828;
    float: left;
    border-radius: 5px 0 0 5px ;
}
.search-inside-left input{
    width: 90%;
    height: 100%;
    background: #282828;
    border: 0;
    float: left;
}
.search-inside-right{
    width: 20%;
    height: 100%;
    background: #282828;
    float: right;
    border-radius:  0 5px  5px 0 ;
}
.hilists{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top:137px;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 664px;
    margin: 0 auto;
    padding: 0px 40px 8px;
    background: black;
    box-sizing: border-box;

}
.hilists li{
    width: 100%;
    line-height: 44px;
    float: none;
    border-bottom: 1px solid #282828;
}
.hilists li a{
    font-size: 18px;
    color: #fff;
    font-family: "San Francisco Display";
}
.hilists li a:last-child{
    font-size: 14px;
}
/*购物袋点击出现样式设置开始*/
/*body{*/
    /*position: relative;*/
/*}*/
.bag{
    width: 288px;
    height: 322px;
    background: #fff;
    z-index: 99;
    position:fixed;
    /*right: 8px;*/
    top:87px;
    border: 1px solid #B5B5B5;
    display: none;
}
.triangle{
    width: 100%;
    height: 10px;
    /*background:pink;*/
    position: relative;
}
.triangle:after{
    content: '';
    position: absolute;
    top: -6px;
    right: 18px;
    width: 11px;
    height: 11px;
    border-right: 1px solid #B5B5B5;
    border-top:  1px solid #B5B5B5;
    background: white;
    /*border-left: 12px solid transparent;*/
    /*border-right: 13px solid #FFFFFF;*/
    /*border-bottom: 13px solid transparent;*/
    transform: rotate(-45deg);
}
.baglists{
    width: 100%;
    height: 100%;
    padding:0 20px ;
    box-sizing: border-box;
}
.baglists p{
    color: #888;
    padding: 35px 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    font-size:14px ;
    border-bottom: 1px solid #E3E3E3;
}
.baglists ul{
    padding: 0;
}
.baglists li{
    line-height: 43px;
    border-bottom: 1px solid #E3E3E3;
    /*padding: 0 30px;*/
}
.baglists li:last-child{
    border-bottom: 0;
}
.baglists li i,.baglists li span{
    font-size:14px ;
    color: #0070C9;
}
.baglists li i{
    padding-right: 10px;
}
/*购物袋点击出现样式设置结束*/
/*滑动时顶部的固定定位开始*/
.flxation{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
/*滑动时顶部的固定定位结束*/
/*section部分开始*/
.list{
    width:100%;
    height:auto;
    /*background: pink;*/
}
.list ul{
    width:100%;
    height:auto;
}
.iphoneX{
    width:100%;
    /*height:580px;*/
    overflow: hidden;
    position: relative;
    background: #fafafa;
    margin-bottom: 12px;
}
.iphoneX top{
    width:100%;
    height:580px;
    display: block;
    /*overflow: hidden;*/
    position: relative;
}
.list h1{
    color:#000;
    text-align: center;
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
}
.list h2{
    color:#000;
    font-weight: 400;
    text-align: center;
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.lint{
    width:200px;
    height:41px;
    margin: 0 auto ;
    color:#2c7bc6;
    line-height: 41px;
    font-size: 18px;

}
.lint:hover{
    text-decoration: underline;
}
.pic-iphone{
    /*width: 1068px;*/
    /*height:337px;*/
    /*background: url("../img/iphone_x_large.jpg") no-repeat center;*/
    /*background-size: 1068px 337px;*/
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin-right: auto;
    margin-left: auto;
}
.iPad{
    background: #F5F5F5;
}
.pic-ipad{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin-right: auto;
    margin-left: auto;
}
nav a:hover{
    color: #B7B7B7;
}
.mac h1,.mac h2,.mac .lint{
    color: #ffffff;
}

/*三宫格部分结束*/
/*六宫格开始*/
.list1,.list1 ul{
    width:100%;
    height:auto;
}
.list1 ul{
    overflow: hidden;
}
.list1 ul li{
    float: left;
    box-sizing: border-box;
}

.list1 h4{
    font-weight: 600;
    text-align: center;
    color:#111111;
}
.list1 h5{
    font-weight: 400;
    text-align: center;
    color:#111111;
    margin: 0 auto;
}
/*六宫格第二个li*/

.behind h4{
    color: #fff;
}
/*3li*/
.iphone_x_a11 h4,.iphone_x_a11 h5{
    color:#ffffff;
}
/*4li*/
.iphone_8_ h4,.iphone_8_ h5{
    color:#000;
}
/*5li*/
.trade_up_{
    color: black;
}
/*6li*/
.three_rings h4,.three_rings h5{
    color: #fff;
}
/*底部开始*/
footer{
    width: 100%;
    height:auto;
    background: #F2F2F2;
    padding:43px 0 24px;
    /*box-sizing: border-box;*/
}
footer .main{
    height:100%;
    margin: 0 auto;
}
.bodr{
    width:100%;
    overflow: hidden;
}
footer .colume{
    width: 20%;
    height:auto;
    float: left;
}
footer div ul li:first-child{
    color:#333333;
    font-weight: bold;
}
footer div li a{
    font-size: 10px;
    color:#555555;
    line-height: 26px;
}
.sec-big div{
    font-size:10px ;
    color:#888B8E;
    line-height: 32px;
    border-bottom: 1px solid #D6D6D6;
}
.sec-big div a{
    font-size:10px ;
    color:#0073db;
    line-height: 32px;
}
.footer-left div:nth-child(1),.footer-left div:nth-child(2){
    float: left;
}

.footer-left div{
    font-size: 10px;
    color: #9390ad;
}
.footer-left {
    overflow: hidden;
    line-height: 30px;
}
.footer-right{
    font-size: 10px;
    color: #555555;
    float: right;
}
.footer-right div{
    width: 16px;
    height:16px;
    background: url("../img/china.png") no-repeat center;
    margin-top: 6px;
    margin-right: 5px;
    float: left;
}
.footer-right a{
    color:#555555;
    font-size: 10px;
}
.links a{
    margin: 0 8px ;
    color:#555555;
}
.links{
    margin-left: 25px;
}
.foot,.foot a{
    color:#959492;
    font-size: 10px;
}
.foot a:hover{
    text-decoration: underline;
}
/*隐藏的第三屏*/
.small{
    width: 100%;
    height:auto;
    margin: 0 auto;
}
.row{
    padding:21px 16px 22px;
}
.small .rowshow{
    border-bottom: 1px solid #d5d5d5;
    position: relative;
}
.small .rowshow div{
    width: 100%;
    line-height: 36px;
    cursor: pointer;
    font-size: 10px;
    color: #333333;
}
/*.row .rowshow div:after*/
.small .rowshow .jiahao{
    width: 10px;
    font-size: 16px;
    font-weight: normal;
    top: -2px;
    right: 8px;
    position: absolute;
    color: #333;
}
.small .rowshow ul{
    height: 0;
    overflow: hidden;
    transition: all .3s ease;
}
.rowshow ul li a{
    padding: 6px 14px;
    display: block;
    color: #555;
    text-decoration: none;
    line-height: 16px;
}
.rowshow ul li a:hover{
    color: #333;
    text-decoration: underline;
}
.small .rowshow ul.yincang{
    overflow: hidden;
    padding: 5px 0 16px;
    height: auto;
}
.jhrotate{
    transform: rotate(45deg);
}
/**/
.bot-row{
    margin: 0 auto;
    padding:0px 16px 22px;
}
.bot-row .footer-right{
    float: none;
    line-height: 30px;
}
.links1{
    margin: 0;
}
.links1 a:first-child{
    margin-left: 0;
}
/*底部结束*/
/*最大屏*/
@media screen and (min-width:1024px){
    main{
        width:976px;
    }
    .max{
        display: block;
    }
    .mix{
        display: none;
    }
    nav .navul{
        width:976px;
    }
    .iphoneX{
        height:580px;
    }
    .list h1{
        font-size: 54px;
        line-height: 63px;
        margin-top: 42px;
    }
    .list h2{
        font-size: 22px;
        line-height: 41px;
}
    .mac h1{
        margin-top: 70px;
    }
    .pic-iphone{
        width: 1068px;
        height:337px;
        background: url("../img/iphone_x_large.jpg") no-repeat center;
        background-size: 1068px 337px;
        bottom:0;
    }
    .pic-ipad{
        width: 930px;
        height:355px;
        background: url("../img/ipad_large.jpg") no-repeat center;
        background-size: 930px 355px;
    }
    .mac{
        background: url("../img/macbook_pro_performance_large.jpg") no-repeat center;
    }
    /*六宫格第一个li*/
    .summer{
        background: url("../img/shop_for_college_large.jpg") no-repeat center;
    }
    .list1 h4{
        font-size: 40px;
        line-height: 49px;
        margin-top: 48px;
    }
    .list1 h5{
        width:460px ;
        font-size: 21px;
        line-height: 31px;
    }
    .list1 ul li{
        width: 50%;
        height:592px;
    }
    /*六宫格第二个li*/
    .behind h4{
        margin-top: 424px;
    }
    .behind{
        background: url("../img/behind_the_mac_makato_large.jpg") no-repeat center;
    }
    /*3li*/
    .iphone_x_a11{
        background: url("../img/iphone_x_a11_large.jpg") no-repeat center;
    }
    .iphone_x_a11 h4{
        margin-top: 415px;
    }
    /*4li*/
    .iphone_8_{
        background: #F9F0EB url("../img/iphone_8_large.jpg") no-repeat center;
    }
    /*5li*/
    .trade_up_{
        background:  url("../img/trade_up_large.jpg") no-repeat center;
    }
    /*6li*/
    .three_rings{
        background: #000 url("../img/three_rings_large.jpg") no-repeat center bottom;
    }
    .list1 ul li{
        border-bottom:12px solid #fff;
        border-right:6px solid #fff;
        border-left:12px solid #fff;
    }
    .list1 ul li:nth-child(2n){
        border-right: 12px solid #fff;
        border-left:6px solid #fff;
    }
    /*底部开始*/
    footer .main{
        width: 980px;
    }
    .big{
        display: block;
    }
    .small{
        display: none;
    }
    /*购物袋开始*/
    .bag{
        right: 171px;
    }
    /**/
    .mix-hidden{
        display: none;
    }


}
@media screen and (max-width:1024px){
    main{
        padding-right: 22px;
    }
    .max{
        display: block;
    }
    .mix{
        display: none;
    }
    nav ul{
        padding:0 22px;
    }

    .iphoneX{
        height:569px;
    }
    .list h1{
        font-size: 44px;
        line-height: 49px;
        margin-top: 56px;
    }
    .list h2{
        font-size: 20px;
        line-height: 35px;
    }
    .pic-iphone{
        width: 736px;
        height:336px;
        background: url("../img/iphone_x_medium.jpg");
        background-size:736px 336px;
    }
    .pic-ipad{
        width: 650px;
        height:325px;
        background: url("../img/ipad_medium.jpg") no-repeat center;
        background-size: 650px 325px;
    }
    .mac{
        background: url("../img/macbook_pro_performance_medium.jpg") no-repeat center;
    }
    .mac h1{
        margin-top: 81px;
    }
    /*六宫格第一个li*/
    .summer{
        background: url("../img/shop_for_college_medium.jpg") no-repeat center;
    }
    .list1 h4{
        font-size: 28px;
        line-height:39px;
        margin-top: 40px;
    }
    .list1 h5{
        width:320px ;
        font-size: 16px;
        line-height: 26px;
    }
    .list1 ul li{
        width: 50%;
        height:502px;
    }
    /*六宫格第二个li*/
    .behind h4{
        margin-top: 346px;
    }
    .behind{
        background: url("../img/behind_the_mac_makato_medium.jpg") no-repeat center;
    }
    /*3li*/
    .iphone_x_a11{
        background: url("../img/iphone_x_a11_medium.jpg") no-repeat center;
    }
    .iphone_x_a11 h4{
        margin-top: 322px;
    }
    /*4li*/
    .iphone_8_{
        background: #F9F0EB url("../img/iphone_8_medium.jpg") no-repeat center;
    }
    /*5li*/
    .trade_up_{
        background:  url("../img/trade_up_medium.jpg") no-repeat center;
    }
    /*6li*/
    .three_rings{
        background: #000 url("../img/three_rings_medium.jpg") no-repeat center bottom;
    }
    .list1 ul li{
        border-bottom:12px solid #fff;
        border-right:6px solid #fff;
        border-left:12px solid #fff;
    }
    .list1 ul li:nth-child(2n){
        border-right: 12px solid #fff;
        border-left:6px solid #fff;
    }
    /*底部开始*/
    footer .main{
        padding:26px;
    }
    .big{
        display: block;
    }
    .small{
        display: none;
    }
    /*购物袋开始*/
    .bag{
        right: 5px;
    }
    .mix-hidden{
        display: none;
    }




}

@media screen and (max-width:768px){
    .max{
        display: none;
    }
    .mix{
        display: block;
    }
    .iphoneX{
        height:500px;
    }
    .list h1{
        font-size: 32px;
        line-height: 37px;
        margin-top: 27px;
    }
    .list h2{
        font-size: 16px;
        line-height: 30px;
        /*margin-top: 30px;*/
    }
    .pic-iphone{
        width: 320px;
        height:353px;
        background: url("../img/iphone_x_small.jpg");
        background-size:320px 352px;
    }
    .pic-ipad{
        width: 228px;
        height:340px;
        background: url("../img/ipad_small.jpg") no-repeat center;
        background-size: 228px 340px;
    }
    .mac{
        background: url("../img/macbook_pro_performance_small.jpg") no-repeat center;
    }
    .mac h1{
        margin-top: 91px;
    }
    /*六宫格第一个li*/
    .summer{
        background: url("../img/shop_for_college_small.jpg") no-repeat center;
    }
    .list1 ul li{
        width: 100%;
        height:512px;
    }
    .list1 h5{
        width:280px ;
        font-size: 16px;
        line-height: 26px;
    }

    /*六宫格第二个li*/
    .behind h4{
        margin-top: 365px;
    }
    .behind{
        background: url("../img/behind_the_mac_makato_small.jpg") no-repeat center;
    }
    /*3li*/
    .iphone_x_a11{
        background: url("../img/iphone_x_a11_small.jpg") no-repeat center;
    }
    .iphone_x_a11 h4{
        margin-top: 363px;
    }
    /*4li*/
    .iphone_8_{
        background: #F9F0EB url("../img/iphone_8_small.jpg") no-repeat center;
    }
    /*5li*/
    .trade_up_{
        background:  url("../img/trade_up_small.jpg") no-repeat center;
    }
    /*6li*/
    .three_rings{
        background: #000 url("../img/three_rings_small.jpg") no-repeat center bottom;
    }
    .list1 ul li{
        border:none;
        border-bottom:12px solid #fff;
    }
    .list1 ul li:nth-child(2n){
        border-right: 0;
        border-left:0;
    }
    /*底部三屏隐藏部分开始*/
    .big{
        display: none;
    }
    .small{
        display: block;
    }
    /*购物袋开始*/
    .bag{
        right:34px;
    }


}
